###############################################################################
# Normalize text files
###############################################################################
* text=auto

###############################################################################
# Python
###############################################################################
*.py text eol=lf

###############################################################################
# Terraform
###############################################################################
*.tf text eol=lf
*.tfvars text eol=lf
*.hcl text eol=lf

###############################################################################
# YAML
###############################################################################
*.yml text eol=lf
*.yaml text eol=lf

###############################################################################
# Shell
###############################################################################
*.sh text eol=lf

###############################################################################
# Windows scripts
###############################################################################
*.ps1 text eol=crlf
*.bat text eol=crlf

###############################################################################
# Markdown
###############################################################################
*.md text eol=lf

###############################################################################
# JSON
###############################################################################
*.json text eol=lf