# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
tempCodeRunnerFile.py

# Virtual Environments
.venv/
.venv*/
venv/
env/
.env
*.env

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
schema.json

# Azure Functions
local.settings.json

# Logs
*.log

# OS
Thumbs.db
.DS_Store
